@font-face {
    font-family: 'MyFont';
    src: url('fonts/sb-sans-text-medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'MyFont';
    src: url('fonts/SB Sans Text Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'MyFont';
    src: url('fonts/SB Sans Text Heavy.ttf') format('truetype');
    font-weight: 700;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.header-team-btn {
    position: absolute;
    width: 180px;
    height: 64px;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    padding: 15px;
    background: rgb(255, 255, 255);
    z-index: 3000;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: background 0.2s ease;
    font-size: 14px;
}

.header-team-btn:hover {
    background: rgb(219, 219, 219);
}

.header-drop {
    position: absolute;
    right: 20px;
    top: 65px;
    width: 100px;
    background: white;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    border-radius: 0px 0px 8px 8px;
    padding: 10px 10px;
    width: 180px;

    display: flex;
    flex-direction: column;

    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition:
        max-height 0.35s ease,
        opacity 0.25s ease;
    z-index: 2000;
}

.header-drop.open{
    max-height: 500px;
    opacity: 1;
    padding: 10px 0;
    display: flex;
    padding: 10px 10px;
}

/* .team-slider-arrow {
    position: absolute;
    left: -15px;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 12px solid #242723;
    transition: transform 0.3s ease;
}

.team-slider.open .team-slider-arrow {
    transform: translateY(-50%) rotate(0deg);
} */


#map {
    width: 100%;
    height: 100%;
}

.header {
    position: absolute;
    width: 100%;
    height: 65px;
    z-index: 1000;
    background: white;
    padding: 20px 20px;
    border-radius: 0px 0px 8px 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    gap: 20px;
}

.timeline-container {
    font-family: 'MyFont';
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    background: white;
    padding: 15px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    height: 88px;
    width: 80%;
}

.year-big{
    font-size: 17px;
    font-weight: 700;
}

.year-small{
    padding-right: 7px;
    padding-left: 7px;
    font-size: 15px;
    font-weight: 300;
}

.header-text{
    text-align: center;
    font-weight: 500;
}

.team-text-position {
    font-size: 14px;
    font-weight: 500;
}

.team-text-name {
    font-size: 13px;
    font-weight: 300;
}

#yearSlider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 25px;
    padding: 2px;
    /* background: linear-gradient(to right, #22ccb4, #22cc69, #56f560, #22cc69, #22ccb4); */
    /* background: linear-gradient(to right, #22ccb4, #56f560, #e7ff4e, #56f560, #22ccb4); */
    background: linear-gradient(to right, #22ccb4, #56f560, #e7ff4e);
    background-size: 200% 100%;
    border-radius: 9999px;
    outline: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    animation: colorFlow 6s ease infinite;
}

#yearSlider:hover {
    animation: colorFlow 2s linear infinite;
}

/* Переливание цветов на ползунке */
@keyframes colorFlow {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Стиль для ползунка */
#yearSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    width: 20px;
    background-color: rgb(242, 254, 236);
    border-radius: 50%;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    transition: all 0.2s ease-in-out;
    cursor: grab;
    animation: colorFlow 2s linear infinite;
    
}

/* Анимация ползунка при наведении */
#yearSlider::-webkit-slider-thumb:hover {
    transform: scale(1.2);
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

/* Анимация ползунка при перетягивании */
#yearSlider::-webkit-slider-thumb:active {
    cursor: grabbing;
    transform: scale(1.1);
}