@font-face {
    font-family: 'MyFont';
    src: url('fonts/sb-sans-text-medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'MyFont';
    src: url('fonts/SB Sans Text Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'MyFont';
    src: url('fonts/SB Sans Text Heavy.ttf') format('truetype');
    font-weight: 700;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    font-family: 'MyFont', sans-serif;
}

#map {
    position: absolute;
    top: 65px; 
    left: 0;
    right: 0;
    bottom: 0;
    height: calc(100vh - 65px); 
    width: 100%;
    z-index: 1;
}

.leaflet-container {
    background-color: #aad3df; /* Цвет океана/воды вместо серого */
}

.header {
    position: absolute;
    width: 100%;
    height: 65px;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.95);
    padding: 20px 20px;
    border-radius: 0px 0px 8px 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    backdrop-filter: blur(5px);
}

.timeline-container {
    font-family: 'MyFont';
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    background: rgba(255, 255, 255, 0.95);
    padding: 15px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    height: 88px;
    width: 80%;
    backdrop-filter: blur(5px);
}

.year-big{
    font-size: 17px;
    font-weight: 700;
}

.year-small{
    padding-right: 7px;
    padding-left: 7px;
    font-size: 15px;
    font-weight: 300;
}

.header-text{
    text-align: center;
    font-weight: 500;
}

#yearSlider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 25px;
    padding: 2px;
    background: linear-gradient(to right, #22ccb4, #56f560, #e7ff4e);
    background-size: 200% 100%;
    border-radius: 9999px;
    outline: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    animation: colorFlow 3s ease infinite;
}

#yearSlider:hover {
    animation: colorFlow 2s linear infinite;
}

/* Переливание цветов на ползунке */
@keyframes colorFlow {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Стиль для ползунка */
#yearSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    width: 20px;
    background-color: rgb(242, 254, 236);
    border-radius: 50%;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    transition: all 0.2s ease-in-out;
    cursor: grab;
    animation: colorFlow 2s linear infinite;
    
}

/* Анимация ползунка при наведении */
#yearSlider::-webkit-slider-thumb:hover {
    transform: scale(1.2);
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

/* Анимация ползунка при перетягивании */
#yearSlider::-webkit-slider-thumb:active {
    cursor: grabbing;
    transform: scale(1.1);
}